<h1>Secure Web Page</h1>
<div class="container">
    <div class="row">
        <div class="col-md-07">
            <a href="#/login">Click here to go back to landing page</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-07">
                <pre>
                    <h4>Authorization code call repsonse : </h4><br>  {{authData | json}}
                </pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-07 text-secondary">
                <pre style="background-color:#bbdefb">
                      <h4>Access Token request: </h4><br>  {{AccessTokenRequest | json}}
                </pre>
        </div>
        <div class="col-md-07">
                <pre>
                    <h4>Access Token call response: </h4><br>  {{accessToken | json}}
                </pre>
        </div>
    </div>

    <div class="row">

        <div class="col-md-07">
                <pre>
                    <h4>ID Token decoded : </h4><br>  {{decodedToken | json}}
                </pre>
        </div>
    </div>

    <div class="row">

        <div class="col-md-07 text-secondary">
               <pre style="background-color:#bbdefb">
                       <h4>User Info Endpoint Request: </h4><br>  {{UserInfoRequest | json}}
                </pre>
        </div>
        <div class="col-md-07">
                <pre>
                     <h4>User Info Endpoint response: </h4><br>  {{userInfo | json}}
                </pre>
        </div>
    </div>
    <div class="row">

        <div class="col-md-07 text-secondary">
                <pre style="background-color:#bbdefb">
                    <h4>   Token Info Endpoint Request:  </h4><br>   {{TokenInfoRequest | json}}
                </pre>
        </div>
        <div class="col-md-07">
                <pre>
                    <h4>Token Info Endpoint response: </h4><br>  {{tokenInfo | json}}
                </pre>
        </div>
    </div>

</div>




