<h1>Secure Web Page</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="#/dashboard">Click here to access userinf and token info</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <pre>
             <b>User Info Endpoint response: </b>  {{userInfo | json}}
            </pre>

            <pre>
             <b>Token Info Endpoint response: </b>  {{tokenInfo | json}}
            </pre>

        </div>

    </div>


</div>

